@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Slab', sans-serif;
font-size: 20px;
}

/* RESULTS CSS */
.results {
  margin: 0 10px
}
.overallRating, .overspeeding, .acceleration, .maneuver, .braking {
  display: none;
  height: auto;
  max-height: 210px;
  overflow: auto;
}
.rating {
  display: table !important;
  font-size: 5px !important;
  width: 100%;
  border-bottom: 3px solid blue
}
.rating:nth-of-type(1) {
  background-color: red;
  font-weight: 800;
  top: 0;
  position: sticky;
}


.rating span {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width: 30%;
  margin: 5px;
}
.overallRating .rating .emoji {
  font-size: 20px;
}

.date {
  /* margin: 10px; */
  text-align: center;
}

#date {
  display: inline-block;
  width: 45%;
  float: left;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 0;
}

#selectJourney {
  display: inline-block;
  width: 50%;
  float: right;
  font-size: 18px;
  margin: 10px 5px 10px 0;
  padding: 10px 0
}

/* .overallRating .rating:nth-of-type(4) {
  background-color: #B5FFC9;
} */

/* Sign up area starts here  */

.top div {
margin: 10px;
position: relative;
padding: 10px 10px 60px 10px;
border: 1px solid black;
width: 95%;
float: right
}


.top label {
display: table;
margin: 10px 5px;;
font-size: 15px;
margin-bottom: 0px;
width: 90%;
font-weight: bold
}

.top select {
display: table;
font-size: 15px;
margin: 10px 5px;
margin-top: 0;
width: 90%;
padding: 10px;
padding-left: 5px
}

.top .main input{
display: table;
margin: 10px 5px;
font-size: 15px;
padding: 10px;
width: 90%;
max-width: 60%
min-width: 50%;
}

#suggestion, #suggest {
  display: table;
  margin: 10px 5px;
  font-size: 15px;
  padding: 10px;
  width: 90%;
  max-width: 60%
  min-width: 50%;
}

#usernameLOG {
  display: table;
  margin: 10px 5px;
  font-size: 15px;
  padding: 10px;
  width: 90%;
  max-width: 60%
  min-width: 50%;
}

.top div button {
width: 50%;
float: right;
min-width: 40%;
right: 10%;
margin: 10px 5px;
font-size: 15px;
padding: 10px;
}

#suggestion {
display: none;
cursor: pointer;
margin: 0;
font-weight: bold;
}

#suggest {
display: none;
margin: 0;
padding-top: 0;
padding-bottom: 0
}

#warn {
margin: 0;
}
#heading {
margin: 10px
}

.loginDiv {
display: none
}
/* Sign up area ends here  */


.eventlabel {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 5% 1%;
  font-weight: 700;
  text-align: left;
  padding: 10px
}
.eventlabel:nth-of-type(1) {
  border-top: 1px solid grey;
}

.results label {
  display: inline-block;
}


.nav {background-color: #8DCBFB;}

.nav div{
display: inline-block;
padding: 10px;
margin-right: 10px;
margin-left: 5px;
border-right: 2px solid white;
border-left: 2px solid white;
font-weight: 800;
}

.nav div a {
  color: black;
  text-decoration: none
}

.header:nth-of-type(3) {
  float: right;
}

.main * {
  display: table;
}

#measuringState {
  padding: 20px;
  margin: 5% 25% 5% 25%;
  font-weight: 800;
  color: blue;
}

#ss {
  color: blue;
  width: 50%;
  min-width: 40%;
  right: 10%;
  margin: 10px 5px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  margin: 5% 25% 5% 25%;
  border: none;
  font-weight: bold;
}

.accMain *, .gyroMain * {
  display: table;
  margin: 5px;
}

.gpsMain * {
  display: table;
  margin: 5px;
}

.accMain, .gyroMain, .gpsMain {
  margin-bottom: 30px
};
